@{
    Layout = null;
}
<div class="row" ng-repeat="album in albums" ng-if="$index % 3 == 0">
    <div class="col-md-4 album-container" ng-repeat="album in albums.slice($index, $index + 3)" @*ui-sref="Authorized.Album.Photos({id: album.Id})" ng-click="setSelectedAlbum(album.Id)"*@>
        <img src="{{album.CoverPhoto.URL}}" alt="CoverPhoto of Album" class="album-cover-photo">
        <div class="additional-album-info-on-hover">
            <label class="additional-album-info-label">Album: </label>
            <a href="#" ui-sref="Authorized.Album.Photos({ id:album.Id })" ng-click="setSelectedAlbum(album.Id)" ng-bind="album.Name">{{album.Name}}</a><br />
            <label class="additional-album-info-label">Author: </label>
            <a href="#" ui-sref="Authorized.UserProfile.Albums({ id:album.AuthorId})" ng-click="setSelectedUser(album.AuthorId)" ng-bind="album.AuthorUserName">{{album.AuthorUserName}}</a><br />
            <label class="additional-album-info-label">Categories: </label>
            <label ng-repeat="category in album.Categories" class="album-list-category">{{category.Name}}</label>
            <br>
            <a href="#" ui-sref="Authorized.EditAlbum({ id:album.Id })" ng-visible=" isCurrentUserOwnerOfProfile">Edit Album</a>
        </div>
    </div>
</div>


<span data-pagination data-total-items="totalNumberOfAlbums" data-ng-model="currentPageNumber"
      data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true"
      data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="albumsPerPage">
</span>

<div class="btn-group dropup categories-container" ng-controller="categoryController">
    <button type="button" class="btn btn-default dropdown-toggle dropup-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <button type="button" class="btn btn-default dropup-button">Filter</button>
    <ul class="dropdown-menu">
        <li ng-repeat="category in categories| orderBy:'Name'" ng-click="setSelectedCategory(category)">
            <span ng-bind="category.Name"></span>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#">View All</a></li>
    </ul>
</div>